In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer #is used for conver the ext data into numarical values
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [94]:
rawmail_data=pd.read_csv('/content/mail_data.csv') #importing the data

In [95]:
mail_data=rawmail_data.where((pd.notnull(rawmail_data)),'')

In [96]:
mail_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  5572 non-null   object
 1   Message   5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [97]:
mail_data.shape

(5572, 2)

In [98]:
mail_data.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [99]:
mail_data.describe()

       Category                 Message
count      5572                    5572
unique        2                    5157
top         ham  Sorry, I'll call later
freq       4825                      30

In [100]:
mail_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  5572 non-null   object
 1   Message   5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [101]:
mail_data.isnull().sum() #checking the null values in the mail_data

Category    0
Message     0
dtype: int64

In [102]:
#label encoding
mail_data.loc[mail_data['Category']=='spam','Category',]=0
mail_data.loc[mail_data['Category']=='ham','Category',]=1

# or we can use mail.data['Category].replace({'spam':0,'ham':1},inplace=True)

In [103]:
mail_data.head()

  Category                                            Message
0        1  Go until jurong point, crazy.. Available only ...
1        1                      Ok lar... Joking wif u oni...
2        0  Free entry in 2 a wkly comp to win FA Cup fina...
3        1  U dun say so early hor... U c already then say...
4        1  Nah I don't think he goes to usf, he lives aro...

In [104]:
#seperating the dataset into to split
x=mail_data.Message
y=mail_data.Category

In [105]:
#splitting the data into trian and test data
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=2)

In [106]:
print(x_tarin.shape,x_test.shape,y_train.shape,y_test.shape)

(4457,) (1115,) (4457,) (1115,)

In [107]:
x_tarin.describe()

count    4457.000000
mean        0.867848
std         0.338694
min         0.000000
25%         1.000000
50%         1.000000
75%         1.000000
max         1.000000
Name: Category, dtype: float64

feature extration converting teh text data into numarical value

In [109]:
feature_extraction = TfidfVectorizer(min_df=1,stop_words='english',lowercase='True') #(min_df=(min words repreating),stop_words='english',lowercase='True')

x_train_features = feature_extraction.fit_transform(x_train)
x_test_features = feature_extraction.transform(x_test)

y_train=y_train.astype(int)
y_test=y_test.astype(int)

In [110]:
print(x_train_features)

  (0, 4334)	0.42941702167641554
  (0, 3958)	0.6161071828926097
  (0, 6586)	0.44333254982109394
  (0, 6927)	0.48935591439341625
  (1, 2121)	0.3573617143022146
  (1, 1428)	0.5869421390016223
  (1, 6971)	0.42812434651556874
  (1, 3168)	0.5869421390016223
  (2, 5115)	0.3408491178137899
  (2, 7353)	0.31988118061968496
  (2, 3852)	0.3408491178137899
  (2, 4884)	0.35749230587184955
  (2, 5695)	0.35749230587184955
  (2, 806)	0.26730249393705324
  (2, 5894)	0.35749230587184955
  (2, 1876)	0.28751725124107325
  (2, 6878)	0.35749230587184955
  (3, 197)	0.36522237107066735
  (3, 3723)	0.16297045459835785
  (3, 2435)	0.26698378141852
  (3, 1825)	0.26858331513730566
  (3, 5231)	0.2266831802864503
  (3, 300)	0.2915969875465198
  (3, 7248)	0.23571908490908416
  (3, 5005)	0.3169028431039865
  :	:
  (4454, 2244)	0.2526916142542512
  (4454, 666)	0.28653660324238944
  (4454, 1575)	0.20946314330145205
  (4454, 1094)	0.24862733340971144
  (4454, 5068)	0.22284357632450164
  (4454, 311)	0.19547195974237946
  (4454, 4627)	0.3831814754124698
  (4454, 2879)	0.28899333825056067
  (4454, 5811)	0.14953570764179772
  (4454, 7248)	0.18493430649182369
  (4454, 7297)	0.1741110805400093
  (4455, 7075)	0.6255253074975946
  (4455, 3701)	0.546620099025937
  (4455, 4614)	0.4677148905542796
  (4455, 3084)	0.3019392955127119
  (4456, 3768)	0.30090411827956587
  (4456, 5009)	0.6018082365591317
  (4456, 909)	0.26924653489772427
  (4456, 7032)	0.2868954144677231
  (4456, 2509)	0.20620887737471993
  (4456, 380)	0.24893867331233713
  (4456, 7033)	0.43304344994724825
  (4456, 7376)	0.20404881687716278
  (4456, 5820)	0.18767970267638426
  (4456, 6575)	0.15362974460832007

trianing the model

In [111]:
model=LogisticRegression()

In [112]:
model.fit(x_train_features,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

Evaluating the training model

In [117]:
predict=model.predict(x_train_features)
accuray=accuracy_score(predict,y_train)
accuray

0.9683643706529056

In [118]:
predict=model.predict(x_test_features)
accuray=accuracy_score(predict,y_test)
accuray

0.9524663677130045

Careting the predictive system

In [120]:
mail=['As per your request Melle Melle (Oru Minnaminunginte Nurungu Vettam) has been set as your callertune for all Callers. Press *9 to copy your friends Callertune']
mail_feature=feature_extraction.transform(mail)
prediction=model.predict(mail_feature)

if(prediction==1):print("mail is ham")
else:print('mail is spam')

mail is ham