In [30]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics

In [31]:
tool_data=pd.read_csv('/content/prevntive maintenance dataset.csv')

In [32]:
tool_data.head()

   UDI Product ID Type  Air temperature [K]  ...  HDF  PWF  OSF  RNF
0    1     M14860    M                298.1  ...    0    0    0    0
1    2     L47181    L                298.2  ...    0    0    0    0
2    3     L47182    L                298.1  ...    0    0    0    0
3    4     L47183    L                298.2  ...    0    0    0    0
4    5     L47184    L                298.2  ...    0    0    0    0

[5 rows x 14 columns]

In [33]:
tool_data=tool_data.drop('Product ID',axis=1)

In [34]:
tool_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   UDI                      10000 non-null  int64
 1   Type                     10000 non-null  object
 2   Air temperature [K]      10000 non-null  float64
 3   Process temperature [K]  10000 non-null  float64
 4   Rotational speed [rpm]   10000 non-null  int64
 5   Torque [Nm]              10000 non-null  float64
 6   Tool wear [min]          10000 non-null  int64
 7   Machine failure          10000 non-null  int64
 8   TWF                      10000 non-null  int64
 9   HDF                      10000 non-null  int64
 10  PWF                      10000 non-null  int64
 11  OSF                      10000 non-null  int64
 12  RNF                      10000 non-null  int64
dtypes: float64(3), int64(9), object(1)
memory usage: 1015.8+ KB

In [35]:
tool_data.Type.value_counts()

L    6000
M    2997
H    1003
Name: Type, dtype: int64

In [36]:
tool_data.shape

(10000, 13)

In [37]:
tool_data.replace({'Type':{'M':1,'L':2,'H':3}},inplace=True)

In [39]:
tool_data.head()

   UDI  Type  Air temperature [K]  Process temperature [K]  ...  HDF  PWF  OSF  RNF
0    1     1                298.1                    308.6  ...    0    0    0    0
1    2     2                298.2                    308.7  ...    0    0    0    0
2    3     2                298.1                    308.5  ...    0    0    0    0
3    4     2                298.2                    308.6  ...    0    0    0    0
4    5     2                298.2                    308.7  ...    0    0    0    0

[5 rows x 13 columns]

In [40]:
tool_data.isnull().sum()

UDI                        0
Type                       0
Air temperature [K]        0
Process temperature [K]    0
Rotational speed [rpm]     0
Torque [Nm]                0
Tool wear [min]            0
Machine failure            0
TWF                        0
HDF                        0
PWF                        0
OSF                        0
RNF                        0
dtype: int64

In [41]:
tool_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   UDI                      10000 non-null  int64
 1   Type                     10000 non-null  int64
 2   Air temperature [K]      10000 non-null  float64
 3   Process temperature [K]  10000 non-null  float64
 4   Rotational speed [rpm]   10000 non-null  int64
 5   Torque [Nm]              10000 non-null  float64
 6   Tool wear [min]          10000 non-null  int64
 7   Machine failure          10000 non-null  int64
 8   TWF                      10000 non-null  int64
 9   HDF                      10000 non-null  int64
 10  PWF                      10000 non-null  int64
 11  OSF                      10000 non-null  int64
 12  RNF                      10000 non-null  int64
dtypes: float64(3), int64(10)
memory usage: 1015.8 KB

In [43]:
x=tool_data.drop('Tool wear [min]',axis=1)
y=tool_data['Tool wear [min]']

In [52]:
x_train,y_train,x_test,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [45]:
print(x_train.shape,x_test.shape,y_test.shape,y_train.shape)

(8000, 12) (8000,) (2000,) (2000, 12)

In [53]:
x_train

       UDI  Type  Air temperature [K]  ...  PWF  OSF  RNF
7389  7390     2                299.8  ...    0    0    0
9275  9276     2                298.2  ...    0    0    0
2995  2996     2                300.5  ...    0    0    0
5316  5317     1                303.6  ...    0    0    0
356    357     1                297.6  ...    0    0    0
...    ...   ...                  ...  ...  ...  ...  ...
9225  9226     2                298.0  ...    0    0    0
4859  4860     2                303.7  ...    0    0    0
3264  3265     3                301.3  ...    0    0    0
9845  9846     2                298.3  ...    0    0    0
2732  2733     2                299.7  ...    0    0    0

[8000 rows x 12 columns]

In [57]:
type(x_test)

pandas.core.series.Series

In [62]:
model=LinearRegression()

In [59]:
x_train.isnull().sum()

UDI                        0
Type                       0
Air temperature [K]        0
Process temperature [K]    0
Rotational speed [rpm]     0
Torque [Nm]                0
Machine failure            0
TWF                        0
HDF                        0
PWF                        0
OSF                        0
RNF                        0
dtype: int64

In [60]:
x_test.isnull().sum()

0

In [63]:
model.fit(x_train,(x_test))

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [66]:
print(model.coef_)

[-3.29914690e-04 -1.43640557e+00 -1.39674840e-01  8.51743807e-01
 -8.93629593e-03 -3.17510566e-01  6.28164096e+00  1.00683182e+02
 -6.05455194e+00 -1.97433657e+01  1.00917390e+02  1.06960719e+01]

In [67]:
print(model.intercept_)

-85.61187885055406

In [ ]:
prediction=model.predict(y_train)
accuracy=metrics.r2_score(prediction,y_test))